:root {
    --highlighter-color: #EEDF5B;
    --umami-color: #447551;
    --turn-radius: 6deg;
}

html{
    scroll-behavior: smooth;
}
body {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    padding-top: 2rem;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

h3 {
    margin-top: 10px;
    color: #222020;
    font-size: 20px;
    font-weight: 300;
}

/* MAIN PAGE */
.flex-main {
    display: flex;
    flex-direction: row;
}
.flex-main h1 {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin: 5px 0px 10px 0px;
}

.flex-left {
    width: 40%;
    padding-top: 23%;
    padding-bottom: 2%;
}
.flex-right {
    width: 60%;
}
.image-stack{
    display: grid;
    grid-template-columns: repeat(12, 55px);
    grid-template-rows: repeat(19, 47px);
    padding-left: 10%;

}
.image-stack img {
    transition: all 0.3s ease-in-out 0s;
}
.image-stack img:hover {
    transform: rotate(var(--turn-radius));
    transition: all 0.3s ease-in-out 0s;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }

/* FEATUERED WORK */
.featured_work {
    margin-top: -5%;
}
.featured_work h1 {
    font-size: 40px;
}
.work_list {
    list-style: none;
    padding-left: 0;
}
.work_item {
    margin-top: 4rem;
}
.work_image {
    max-width: 100%;
}
.work_description {
    margin-top: 5px;
    font-weight: 300;
    width: 80%;
}
.highlight {
    background: linear-gradient(180deg, #FFFFFF 65%, var(--highlighter-color) 65%);
    font-weight: 400;
}
.technologies {
    margin-top: 5px;
    display: flex;
    flex-direction:row;

}
.technologies p {
    font-size: 12px;
    margin-right: 5px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius:20px;
    padding: 4px 9px 4px 9px;
    background: var(--umami-color);
}


