body {
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    padding-top: 2rem;
}

.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: #26527D;
    text-decoration: none;
    margin-bottom: 2rem;
    
}

.topnav a:hover {
    color: green;
  }

.name {
    line-height:50px;
    font-weight: bold;
    float: left;
    font-size: 34px;
}

.tabs {
    line-height:50px;
    float: right;
    font-size: 14px;
    padding-left: 24px;
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}
