:root {
    --highlighter-color: #EEDF5B;
    --work-color: #1cca73;
    --turn-radius: 6deg;
}

html{
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
    margin-top: 2rem;
}

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}

h3 {
    margin-top: 10px;
    color: #222020;
    font-size: 20px;
    font-weight: 300;
}

/* MAIN PAGE */
.flex-main {
    display: flex;
    flex-direction: row;
}
.flex-main h1 {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin: 5px 0px 10px 0px;
}
.flex-left {
    width: 40%;
    padding-top: 23%;
    padding-bottom: 2%;
}
.flex-right {
    width: 60%;
}
.image-stack{
    display: grid;
    grid-template-columns: repeat(12, 55px);
    grid-template-rows: repeat(19, 48px);
    padding-left: 15%;

}
.image-stack img {
    transition: all 0.3s ease-in-out 0s;
}
.image-stack img:hover {
    transform: rotate(var(--turn-radius));
    transition: all 0.3s ease-in-out 0s;
}
@media screen and (max-width: 1000px)
{
    body {
        width: 90%;
    }
    .flex-left {
        width: 100%;
    }
    #phone {
        display: none;
    }
}
.wave {
    animation-name: wave-animation;  
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
.fade-in1 {
    opacity: 0;
	animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.fade-in2 {
    opacity: 0;
	animation: fadeIn;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.fade-in3 {
    opacity: 0;
	animation: fadeIn;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

/* FEATUERED WORK */
.featured_work {
    max-width: 80%;
    margin: 0 auto;
}
.featured_work h1 {
    font-size: 45px;
    margin-bottom: 8%;
}
.work_list {
    list-style: none;
    padding-left: 0;
}
.work_item h1{
    margin-bottom: 1%;
    font-size: 38px;
}
.work_item h3{
    margin-top: 3%;
    font-weight: bold;
    font-size: 1rem;
    color: var(--work-color);
    margin-bottom: 5%;
}
.work_image {
    max-width: 100%;
}
.work_description {
    margin-top: 5px;
    font-weight: 350;
    width: 70%;
}
.highlight {
    background: linear-gradient(180deg, #FFFFFF 65%, var(--highlighter-color) 65%);
    font-weight: 400;
}
.technologies {
    margin-top: 5px;
    display: flex;
    flex-direction:row;
    color: var(--work-color);
}
.technologies p {
    font-size: 12px;
    margin-right: 6px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius:20px;
    padding: 4px 9px 4px 9px;
    background: var(--work-color);
}
@media screen and (max-width: 1000px)
{
    .featured_work {
        max-width: 100%;
    }
    .featured_work h1 {
        font-size: 8vw;
    }
    .work_item h1{
        font-size: 5vw;
    }
    .technologies p {
        font-size: 1.5vw;
        margin-right: 0.8vw;
        padding: 0.8vw 1vw 0.8vw 1vw;
    }
    .work_description {
        font-weight: 350;
        width: 100%;
        font-size: 1.8vw;
    }
    .work_item h3 {
        font-size: 1.5vw;
    }
}
/* FOOTER */
footer {
    display:flex
}
footer div {
    margin: 0 auto;
    display: inline;
}
footer li{
    display: inline;
    margin: 5px
}
@media screen and (max-width: 1000px)
{
    footer img{
        height: 6vw;
    }
    footer div {
        padding-right: 13vw;
    }
}

/* ABOUT ME */
.aboutme_image {
    max-width: auto;
    height: 100%;
    justify-content: center;
    opacity: 0;
	animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.flexabout-left {
    width: 30%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}
.flexabout-right{
    width: 70%;
    padding-bottom: 2%; 
    padding-left: 5vw;
}
.flexabout-right a{ 
    font-weight: bold;
}
@media screen and (max-width: 1300px)
{
    .flexabout-left img{
        height: 30vw;
    }
    .flexabout-right h1 {
        font-size: 3vw;
    }
    .flexabout-right p {
        font-size: 1.2vw;
    }
}